---

---

<li>
    <a
        class="text-gray-500 font-bold text-xl transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
        href="#"
    >
        <slot />
    </a>
</li>
