---
import Card from "./Card.astro";
---

<section class="flex flex-col bg-neutral-900 h-screen w-dvw">
    <h1
        class="mt-5 text-center text-4xl font-bold text-gray-900 sm:text-5xl dark:text-white"
    >
        Te Ofrecemos
    </h1>

    <div class="flex m-8 gap-6 flex-wrap justify-center">
        <Card title="Powerfull Search" logo="">
            The powerfull search is so powerfull
        </Card>
        <Card title="Powerfull Search" logo="">
            The powerfull search is so powerfull
        </Card>
        <Card title="Powerfull Search" logo="">
            The powerfull search is so powerfull
        </Card>
        <Card title="Powerfull Search" logo="">
            The powerfull search is so powerfull
        </Card>
    </div>
</section>
